# {{ title }}

## Status

- Latest Version: {{ status }}
- Method: {{ method }}
- Data Type: {{ create_relative_link(type.name, 'design/autoware-architecture-v1/interfaces/ad-api/types/' + type.name + '.md') }}

## Description

{%- block description %}
{%- endblock %}

{%- if method != 'function call' %}
## Message
{%- if type.msg %}
| Name | Type | Description |
| ---- | ---- | ----------- |
{%- for field in type.msg %}
| {{ field.name }} | {{ resolve_msg_field(type.name, field.name, 'msg') }} | {{ field.text }} |
{%- endfor %}
{%- else %}
None
{%- endif %}
{%- endif %}

{%- if method == 'function call' %}
## Request
{%- if type.req %}
| Name | Type | Description |
| ---- | ---- | ----------- |
{%- for field in type.req %}
| {{ field.name }} | {{ resolve_msg_field(type.name, field.name, 'req') }} | {{ field.text }} |
{%- endfor %}
{%- else %}
None
{%- endif %}

## Response
{%- if type.res %}
| Name | Type | Description |
| ---- | ---- | ----------- |
{%- for field in type.res %}
| {{ field.name }} | {{ resolve_msg_field(type.name, field.name, 'res') }} | {{ field.text }} |
{%- endfor %}
{%- else %}
None
{%- endif %}
{%- endif %}
