| Item            | Value                 |
| --------------- | --------------------- |
| Last Updated    | {{ last_updated }}    |
| Interface Type  | {{ interface_type }}  |
| Interface Name  | {{ interface_name }}  |
| Data Type       | [{{ data_type_name }}]({{ data_type_link }}) |
| Timeout [s]     | {{ timeout }}         |
