{%- if message %}
| Name | Type | Description |
| ---- | ---- | ----------- |
{%- for field in message %}
| {{ field.name }} | {{ link_ros_msg(interface.type, field.name, 'msg') }} | {{ field.text }} |
{%- endfor %}
{%- else %}
None
{%- endif %}
