name: reorder-versions

on:
  workflow_dispatch:
  pull_request:

jobs:
  reorder-versions:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v6
        with:
          ref: gh-pages

      - name: Reorder versions.json
        run: |
          DEFAULT_BRANCH="${{ github.event.repository.default_branch }}"

          jq --arg DEFAULT_BRANCH "$DEFAULT_BRANCH" '
            . as $all |
            [
              # 1. Default branch
              ($all | map(select(.version == $DEFAULT_BRANCH))[]),

              # 2. numeric versions like 1.4
              ($all
                | map(select(.version | test("^[0-9]+\\.[0-9]+$")))
                | sort_by(.version | split(".") | map(tonumber))
                | reverse
                | .[]
              ),

              # 3. PR versions: pr-123
              ($all
                | map(select(.version | test("^pr-[0-9]+$")))
                | sort_by(.version | ltrimstr("pr-") | tonumber)
                | .[]
              ),

              # 4. everything else (other branches)
              ($all
                | map(select(.version | test("^(main|[0-9]+\\.[0-9]+|pr-[0-9]+)$") | not))
                | sort_by(.version)
                | .[]
              )
            ]
          ' versions.json > versions.sorted.json

          cat versions.sorted.json

          # mv versions.sorted.json versions.json
